@import 'reset.css';
@import 'jquery.fancybox.css';
@import '../fonts/PFAgoraSlabPro/PFAgoraSlabPro.css';

body{
	min-width:1280px;
	background:url(../images/botslide_fon.jpg) repeat-x 50% 100% #6dcff6;
	color:#fff;
	font: 18px/24px 'pf_agora_slab_proitalic', sans-serif;
}
body *{-overflow:hidden;}

/* Параллакс бананы

*/
.b_prlx_bg {position:relative;}

.b_bnn1,
.b_bnn2,
.b_bnn3,
.b_bnn4,
.b_bnn5,
.b_bnn6,
.b_bnn7,
.b_bnn8,
.b_bnn9,
.b_bnn10,
.b_bnn11,
.b_bnn12,
.b_bnn13,
.b_bnn14,
.b_bnn15,
.b_bnn16{position:fixed;z-index:1020;}

.b_bnn1{top:0px;left:560px;}
.b_bnn2{top:0px;left:1090px;}

.b_bnn16{top:260px;left:995px;}
.b_bnn4{top:540px;left:125px;}
.b_bnn5{top:608px;left:1110px;}
.b_bnn6{top:400px;left:1020px;}
.b_bnn7{top:920px;left:450px;}

.b_bnn8{top:1800px;left:1215px;z-index:1030;}
.b_bnn9{top:1600px;left:445px;}

.b_bnn10{top:2150px;left:440px;}
.b_bnn11{top:3100px;left:1000px;}

.b_bnn12{top:4200px;left:335px;}

.b_bnn13{top:3200px;left:1115px;}

.b_bnn14{top:5100px;left:1120px;}
.b_bnn15{top:3900px;left:150px;}
.b_bnn3{top:5300px;left:660px;}

/* Путь по сайту

*/
.b_global_way {
	position:absolute;top:0;left:50%;z-index:200;
	width:843px;height:2321px;
	margin-left:-420px;
}

.b_main_wrap {
	background:url(../images/hdr_fon.jpg) no-repeat 50% 0;
}
/* Верхний слайд

*/
.b_topslide{}
	.b_topslide_wrap{
		position:relative;
		width:1280px;height:1002px;
		margin:0 auto;
		background:url(../images/topslide_fon.png) no-repeat 100px 0;
	}
	.b_topslide_wrap > div{text-align:center;line-height:21px;}
	
	.b_topslide_logo{
		position:absolute;top:30px;left:48px;
		width:117px;
		font: 18px 'pf_agora_slab_problack_italic', sans-serif;
		color:#fff;text-align:center;line-height:21px;
		text-decoration:none;
		}
		.b_topslide_logo p{margin-top:12px;}
		
	.b_topslide_click{
		position:absolute;top:116px;left:308px;
		width:145px;height:200px;
		background:url(../images/topslide_click_fon.png) no-repeat 100% 100%;
		}
	
	#topslide_click_point{
		position:absolute;left: 350px;top: 110px;z-index:50;
		width:440px;height:528px;
		}
	.hero_pos1{background:url(../images/hero/hero_pos1.png);}
	.hero_pos2{background:url(../images/hero/hero_pos2.png);}
	.hero_pos3{background:url(../images/hero/hero_pos3.png);}
	.hero_pos4{background:url(../images/hero/hero_pos4.png);}
	.hero_pos5{background:url(../images/hero/hero_pos5.png);}
	.hero_pos6{background:url(../images/hero/hero_pos6.png);}
	.hero_pos7{background:url(../images/hero/hero_pos7.png);}
	.hero_pos8{background:url(../images/hero/hero_pos8.png);}
	.hero_pos9{background:url(../images/hero/hero_pos9.png);}
	
	.b_topslide_bnn{position:absolute;top:433px;left:230px;z-index:60;}
	
	.b_topslide_talk{
		position:absolute;top:30px;right:367px;
		width:280px;height:280px;overflow:hidden;
		background:url(../images/topslide_talk_fon.png);
		color:#2bb4fb;font-size:26px;line-height:30px !important;
		}
		.b_topslide_talk p{display:none;width:200px;margin:30px auto 50px;}
		.b_topslide_talk p.l{font-size:32px;line-height:40px !important;}
		.b_topslide_talk p.s{font-size:22px;line-height:24px !important;}	
		.b_topslide_talk p.active{display:block;}
	
	.b_topslide_meet{
		position:absolute;top: 34px;right: 49px;z-index:50;
		width:223px;height:225px;
		}
		.b_topslide_meet p{margin-top:20px;}
		.b_topslide_meet__like{font-family:'pf_agora_slab_problack_italic', sans-serif;}
	
		.b_topslide_meet__socnet{
			width:120px;height:34px;overflow:hidden;
			background:url(../images/topslide_meet_socnet.png) no-repeat 0 0;
			margin:12px auto 0;
		}
		.b_topslide_meet__socnet a{
			float:left;
			width:34px;height:34px;
			margin-right:9px;
		}
		.b_topslide_meet__socnet a:last-child{margin-right:0;}

	.b_topslide_name{
		position:absolute;top:611px;right:45px;z-index:60;
		font: 90px/34px 'pf_agora_slab_proultraBlkIt', sans-serif !important;
		text-align:left !important;
		}
		.b_topslide_name span{font: 36px/34px 'pf_agora_slab_problack_italic', sans-serif;}
/* /Верхний слайд */

/* Средний слайд

*/
.b_midslide{
	position:relative;
	height:455px;
	overflow:hidden;
	}
	
	/* Тени */
	.b_midslide_shdw_top,
	.b_midslide_shdw_bot{position:absolute;width:100%;height:11px;z-index:60;}
	
	.b_midslide_shdw_top{top:0;background:url(../images/midslide_shdw_top.png) repeat-x 0 0;}
	.b_midslide_shdw_bot{bottom:0;background:url(../images/midslide_shdw_bot.png) repeat-x 0 0;}
	
	#b_midslide_box__map{position:absolute;top:0;z-index:10;}
	
	.b_midslide_box{
		position:relative;
		
		/* -position:absolute;top:0;left:50%;
		-width:979px; */
		-height:535px;
		-margin-left:-170px;
		}
		.b_midslide_fon {
			position:relative;left:475px;z-index:10;
			
		}
		.b_midslide_box__wrap {
			position:relative;z-index:10px;
			width: 1280px;height:455px;
			margin: 0 auto;
			text-align: left !important;
			}

			/* В Москве */
			.b_midslide_box__msk{
				position:absolute;top:60px;z-index:50;
				margin-left:800px;
				font: 36px/26px 'pf_agora_slab_problack_italic', sans-serif;
				}
				.b_midslide_box__msk img{position:absolute;top:10px;left:-88px;}
				.b_midslide_box__msk_tit{font: 80px/80px 'pf_agora_slab_proultraBlkIt', sans-serif;}
			
			/* Перекресток */
			.b_midslide_box__cross{
				position:absolute;top:60px;z-index:50;
				margin:145px 0 25px 800px;
				}
				.b_midslide_box__cross img{
					position:relative;left:-65px;
					margin-bottom:15px;
				}
			/* Правила */
			.b_midslide_box__btn{
				position:absolute;top:60px;z-index:50;
				background:#6dcff6;
				margin:330px 0 25px -193px;
				padding:5px 15px;
				font: 18px/24px 'pf_agora_slab_problack_italic', sans-serif;
				color:#fff;text-decoration:none;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
			}
/* /Средний слайд */

/* Нижний слайд

*/
.b_botslide {position:relative;overflow:hidden;}
	.b_botslide_stand {
		position:relative;
		width:1280px;min-height:1476px;
		margin:0 auto;
		}
		.b_botslide_stand_fon{position:relative;left:-180px;}
		.b_botslide_stand__about{
			position:absolute;top:152px;left:150px;
			font: 36px/36px 'pf_agora_slab_problack_italic', sans-serif;
			}
			.b_botslide_stand__about_tit{
				margin-bottom:10px;
				font: 90px/55px 'pf_agora_slab_proultraBlkIt', sans-serif;
			}
			.b_botslide_stand__about_desc{margin-top:10px;font: 24px/30px 'pf_agora_slab_proitalic', sans-serif;}
		
		.b_botslide_stand__month{
			position:absolute;top:565px;left:408px;
			font: 30px/30px 'pf_agora_slab_proultraBlkIt', sans-serif;
		}
		
		.b_botslide_stand__story{
			position:absolute;top:55px;right:5px;
			color:#0072bc;
		}
		.b_botslide_stand__story p{
			margin:-80px 0 0 0px;
			text-align: center;
		}
		
	.b_botslide_games{
		position:relative;
		width:1100px;
		margin:-420px auto 0;
		}
		.b_botslide_games__tit {
			text-align:center;
			font: 36px/36px 'pf_agora_slab_proultraBlkIt', sans-serif;
		}
		.b_botslide_games__box{display:table;margin-top:20px;}
		.b_botslide_games__item{
			position:relative;
			display:block;float:left;
			width:240px;
			margin-left:40px;
			padding-top:75px;
			color:#fff;text-align:center;
			text-decoration:none;
			cursor:text !important;
			}
			.b_botslide_games__item:first-child{margin-left:0;}
				
				.b_botslide_games__item img{position:absolute;top:0;}
				.item_img1{left:93px;}
				.item_img2{left:106px;}
				.item_img3{left:90px;top:8px !important;}
				.item_img4{left:83px;top:5px !important;}
				
				.b_botslide_games__item_tit{
					display:block;margin-bottom:10px;
					font: 18px/24px 'pf_agora_slab_proultraBlkIt', sans-serif;
				}
	
	.b_botslide_video{
		position:relative;
		width:1280px;
		margin:0 auto;
		}
		
		.b_botslide_video__tit{
			position:relative;top:65px;z-index:10;
			text-align:center;
			font: 90px/55px 'pf_agora_slab_proultraBlkIt', sans-serif;
		}
		
		.b_botslide_video__box{
			position:relative;
			width:1064px;height:544px;overflow:hidden;
			margin:0 auto;
			}
			.b_botslide_video__box_fon_left,
			.b_botslide_video__box_fon_right{
				position:absolute;top:0;z-index:10;
				width:267px;height:544px;
			}
			.b_botslide_video__box_fon_left{left:0;background:url(../images/botslide_video__box_fon_left.png);}
			.b_botslide_video__box_fon_right{right:0;background:url(../images/botslide_video__box_fon_right.png);}
			
			.click_me{}
						
		.b_botslide_video__tabs{
			position:relative;z-index:30;
			display:table;margin:8px 0 0 570px;
			}
			.b_botslide_video__tabs a{
				display:block;float:left;
				margin-left:40px;
				padding-top:16px;
				color:#00aeef;text-align:center;
				text-decoration:none;
			}
			.b_botslide_video__tabs a.selected{border-top:6px solid #00aeef;padding-top:10px;}
			.b_botslide_video__tabs a:first-child{margin-left:0;}
			
			.video__tabs1{width:85px;}
			.video__tabs2{width:145px;}
		
		.b_botslide_video__togo {
			position:relative;left:-262px;z-index:20;
			width:636px;height:812px;
			margin-top:-480px;
			}
			.b_botslide_video__togo img{position:relative;top:180px;left:370px;}
			
			.b_botslide_video__togo_text {
				position:absolute;top:0;
				width:299px;height:258px;
				background:url(../images/botslide_talk_fon.png);	
				margin-left:260px;
				padding-top:40px;
				color:#2bb4fb;font-size:24px;
				line-height:30px;
				text-align:center;
			}
			.b_botslide_video__togo_metro {
				margin-top:15px;
				font: 24px/30px 'pf_agora_slab_problack_italic', sans-serif;
			}
		
		.b_botslide_video__goup,		
		.b_botslide_video__socnet,
		.b_botslide_video__cpr{position:absolute;right:110px;}
		
		.b_botslide_video__goup{bottom:115px;}
			.b_botslide_video__goup a{
				color:#00aeef;
				text-decoration:none;
			}
		
		.b_botslide_video__socnet{bottom:65px;}
		.b_botslide_video__socnet .b_topslide_meet__socnet{background:url(../images/botslide_meet_socnet.png) no-repeat 0 0;}
		
		.b_botslide_video__cpr{bottom:25px;color:#00aeef;}

	.b_botslide_counter {
		color: #00aeef;
		position: absolute;
		left: 100px;
		bottom: 25px;
	}
		
/* /Нижний слайд */

/* Всплывашка */
#i_wnd_about{
	position: fixed;left: 50%;top:55px;z-index: 9999;
    width: 1024px;
	background:#fff;
    margin: 0 0 0 -512px;
    
	color: #000;
    font: 200 12px/18px Verdana,serif !important;
	
    border: 3px solid #6fcff5;
	box-shadow: 0 0 50px rgba(111,207,245,0.5);
	}

.i_wnd_about_brd a {color:#fff;font:400 12px Tahoma,sans-serif;}
	.i_wnd_about_brd {
		height:33px;
		background:#fff;
		padding:17px 0 0 22px;
		}
	.i_wnd_about_cntn__tit{
		margin-bottom:30px;
		color:#6dcff6;font: 30px/30px 'pf_agora_slab_problack_italic', sans-serif;
	}
	.i_wnd_about_cntn {padding:30px 50px 20px 50px;}
	.i_wnd_about_cntn p {
		margin-bottom:35px;
		color:#1d1d1d;font: 21px/30px 'pf_agora_slab_proitalic', sans-serif;
		text-align: left;
		}
	
	.i_wnd_about_cls {
		position:absolute;top:25px;right:25px;
		width:24px;height:24px;
		background: url(../images/wnd_about_cls.png);
		
		color:#fff;
		font:400 30px Tahoma,sans-serif;
		cursor:pointer;
		}
















